<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>20/01/27 17:28:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestCases.hiturl()[pri:0, instance:testNG.TestCases@3c0ecd4b]">&gt;&gt;hiturl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>20/01/27 17:28:36</td>   <td>5926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.test1()[pri:0, instance:testNG.TestCases@3c0ecd4b]">test1</td> 
  <td>main@858242339</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>20/01/27 17:29:11</td>   <td>41461</td> <td>&nbsp;</td><td title="&lt;&lt;TestCases.close()[pri:0, instance:testNG.TestCases@3c0ecd4b]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@858242339</td>   <td></td> </tr>
</table>
